
  
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color:whitesmoke;
}
.header{
    background-color:black ;
    padding: 4px;
    width: 1220px;
    height: 70px;
    margin: 0px;
}
.header .header-nav{
    justify-content: center;
    display: flex;
}
.header .header-nav .header-container{
    width:1100px ;
    height: auto;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    
}
.header .header-nav .header-container .header-logo{
    display: flex;
    justify-content: space-between;

}
.header .header-nav .header-container .header-logo .logo{
    height: 62px;
    width: auto;
    bottom: 10px;
    position: relative;
    color: goldenrod;
}
.header .header-nav .header-container .header-logo .Jeetendra{
    color: aliceblue;
    position: relative;
    left: 5px;
    font-family: dancing script;

}
.header .header-nav .header-container .header-logo .Jewellers{
    color: aliceblue;
    position: relative;
    left: 10px;
    font-family:  dancing script;
}
.header .header-nav .header-container2{
    width:350px ;
    height: 100px;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    position: relative;
    bottom: 10px;
    right: 60px;
    background: none;
}
.header .header-nav .header-container2 .home{
    background-color: transparent;
    font-family:dancing script;
    color: antiquewhite;
    border: none;
    font-size: 20px;
    transition: transform .2s ease-in-out;
}
.header .header-nav .header-container2 .home a{
    color: whitesmoke;
    text-decoration: none;
}
.header .header-nav .header-container2 .home:hover{
    transform: scale(1.2);
}


.header .header-nav .header-container2 .services{
    background-color: transparent;
    font-family:dancing script;
    color: antiquewhite;
    border: none;
    font-size: 20px;
    transition: transform .2s ease-in-out;
}

.header .header-nav .header-container2 .services a{
    color: whitesmoke;
    text-decoration: none;
}
.header .header-nav .header-container2 .services:hover{
    transform: scale(1.2);
}


.header .header-nav .header-container2 .contact{
    background-color: transparent;
    font-family:dancing script;
    color: antiquewhite;
    border: none;
    font-size: 20px;
    transition: transform .2s ease-in-out;
}
.header .header-nav .header-container2 .contact a{
    color: whitesmoke;
    text-decoration: none;
}
.header .header-nav .header-container2 .contact:hover{
    transform: scale(1.2);
}
.header .header-nav .header-container2 .About-us{
    background-color: transparent;
    font-family:dancing script;
    color: antiquewhite;
    border: none;
    font-size: large;
    transition: transform .2s ease-in-out;
    
}
.header .header-nav .header-container2 .About-us a{
    color: whitesmoke;
    text-decoration: none;
}
.header .header-nav .header-container2 .About-us:hover{
    transform: scale(1.2);
}
.section-1{
    width: 1220px;
    height: auto;
    justify-content: space-evenly;
    padding: 0px;
}
.section-1 .sec1 .logo{
    width: 1228px;
    height: 565px;
    position: relative;
}
.section-1 .sec1 .button-1{
    position: absolute;
    bottom: 60px;
    left: 20px;
    color: #030203;
    width: 150px;
    height: 30px;
    font-weight: bolder;
    font-size: 15px;
    font-style: italic;
    background-color:rgb(13, 177, 76);
    border-radius: 20px;
    animation-name:  blink;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    font-family: gorditaregular;
    transition: transform .2s ease-in-out;
}
.section-1 .sec1 .button-1 a{
    color: black;
    text-decoration: none;
}
.section-1 .sec1 .button-1:hover{
    transform: scale(1.2);
}

.section-1 .sec1 .quote{
    height:auto;
    position: absolute;
    width: auto;
    top: 300px;
    left: 120px;
    border: none;
    background:  transparent;
    color: #afacac;
}
.section-1 .sec1 .scrolldown{
    position: absolute;
    bottom: -83px;
    right: 600px;
    background:transparent;
    border: none;
}

.section-2 {
    width: 1220px;
    height: 200px;
    justify-content: space-evenly;
    padding: 0px;
}
.section-2 .sec2{
    display:  flex;
    width: 1220px;

}
.section-2 .sec2 .service{
    height: auto;
    position: absolute;
    width: 240px;
    left:550px;
    top: 730px;
    bottom: 1300px;
    color: black;
    font-family: dancing script;

}
.section-2 .sec2 .coin{
    height: auto;
    width: 405px;
    position: relative;
    bottom: 250px;
    top:200px
}
.section-2 .sec2 .coin:hover {
    opacity: 0.5; /* reduce opacity to 50% on hover */
    cursor: pointer; /* change cursor to pointer on hover */
 }
.section-2 .sec2 .Earing{
    height: auto;
    width: 405px;
    position: relative;
    bottom: 250px;
    height:295px;
    top:200px
}
.section-2 .sec2 .Earing:hover {
    opacity: 0.5; 
    cursor: pointer; 
 }
.section-2 .sec2 .necklace{
    height: auto;
    width: 405px;
    position: relative;
    bottom: 250px;
    height:295px;
    top:200px

}
.section-2 .sec2 .necklace:hover {
    opacity: 0.5; 
    cursor: pointer; 
 }
.section-2 .sec2 .pendant{
    height: auto;
    width: 405px;
    position: relative;
    bottom: 250px;
    height:295px;
    width: 300px;
   top: 200px;

}
.section-2 .sec2 .pendant:hover {
    opacity: 0.5; 
    cursor: pointer; 
 }
.section-3{
    width: 1220px;
    height: 900px;
    justify-content: space-evenly;
    padding: 0px;
}
.section-3 .sec3{
    height: 900px;
}
.section-3 .sec3 .history{
    height: 200px;
    position: absolute;
    width: auto;
    left: 520px;
    top: 1250px;
    bottom: 100px;
    color: black;
    font-family: dancing script;

}
.section-3 .sec3 .heritage{
    position: relative;
    bottom: 200px;
    top: 500px;
    height: 300px;
    left: 400px;
    font-family: Sansita Swashed;
    font-weight: lighter;
    font-size: large;
width: 550px;
text-align: center;
}
.section-3 .sec3 .purity{
    position: relative;
    bottom: 200px;
    top: 300px;
    height: 300px;
    left: 400px;
    font-size: large;
    font-family: Sansita Swashed;
    font-weight: lighter;
    width: 550px;
    text-align: center;
}
.section-3 .sec3  .generation{
    position: relative;
    bottom: 200px;
    top: 130px;
    height: 50px;
    left: 400px;
    font-size: large;
    font-family: Sansita Swashed;
    font-weight: lighter;
    width: 550px;
    text-align: center;

}
.section-3 .sec3 .line{
    position: relative;
    top: 200px;
    width: auto;
    /* height: px; */
    /* left: 10px; */
    color: rgb(172, 0, 0);
    
}
.section-4 {
    width: 1100px;
    height: 25px;
    justify-content: space-evenly;
    padding: 0px;
}
.section-4 .sec4 .JJ{
    height: auto;
    position: absolute;
    width: auto;
    left: 520px;
    top: 1750px;
    bottom: 300px;
    color: black;
    font-family: dancing script;
}
.section-4 .sec4 .certification{
    height: auto;
    position: absolute;
    left: 350px;
    top:1830px
}
.section-5{
    width: 1228px;
    height:500px;
    justify-content: center;
    padding: 0px;
    background-color:black;
    color: white;
    position: relative;
    top: 250px;

    

}
.section-5 .sec5{

    display: flex;
    position: relative;
    left:420px;
    background-color:black;
    width: 800px;
    height: auto;

} 
.section-5 .sec5 .order {
    position: relative;
    height: 100px;
    width: 1100px;
    justify-content: center;
    left: -300px;
}
.section-5 .f2-enquiry{
    bottom: -30px;
    position: relative;
    left: 80px;
    font-family: dancing script;
    font-size: medium;
    font-weight: bold;
    background-color: black;
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    /* height: 300px; */
}
#fname{
    position: relative;
    height: 20px;
    width: 250px;
    border-radius: 8px;
}
#faddress{
    position: relative;
    height: 20px;
    width: 250px;
    border-radius: 8px;
}
#femail{
    position: relative;
    height: 20px;
    width: 250px;
    border-radius: 8px;
}
#fcontact{
    position: relative;
    height: 20px;
    width: 250px;
    border-radius: 8px;
}
#form2 input[type="submit"]{
    position: relative;
    background-color: whitesmoke;
    border: none;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    width: 130px;
    justify-content: space-evenly
}
#form2 input[type="submit"]:hover{
    transform: scale(1.2);
    background-color: silver;
}
.footer{
    background-color: whitesmoke;
    width: 1180px ;
    height: 500px;
    margin: 0px;
    padding: 20px;
    display: flex;
    
}
.footer .foot-1{
    position: relative;
    width: 295px;
    height: 100px;
    display: flex;
    top: 280px;
    right: 10px;


}
.footer .foot-1 .flogo{
    position: relative;
    display: flex;
    height: 450px;
    
}
.footer  .footer-logo1{
    position: relative;
    height: 120px;
    top: 380px;
    display: flex;
    right: 150px;
    width: 295px;
    font-family: dancing script;
    color: black;
}
.footer .foot-2{
    display: flex;
    width: fit-content;
    height: 10px;
    justify-content: center;
    text-align: center;
}
.footer .foot-2 .unlock{
    display: flex;
    position: relative;
    width: 420px;
    top: 280px;
    right:10px;
    font-family: dancing script;
    height: 120px;
    color:black ;
    font-size: large;
    
}
.footer .right {
    color: black;
    font-size: large;
    position: relative;
    right: 450px;
    font-family: dancing script;

}
.footer .right .designed{
    position: relative;
    top: 350px;
    left: 140px;
}
.footer .right .Copyright{
    position: relative;
    top:350px;
    left: 120px;
    text-align: center;
    
} 
.footer .foot-3{
    position: relative;
    color:black;
}
.footer .foot-3 .follow{
    position: relative;
    top:220px;
    font-family: dancing script;
    width: 200px;
}
.footer .foot-3 .fbutton1{
    position: relative;
    width: 45px;
    height: 45px;
    top: 200px;
    border: none;
    background: transparent;
    transition: transform .2s ease-in-out;

}
.footer .foot-3 .fbutton1:hover{
    transform: scale(1.2);
}
.footer .foot-3 .fbutton1 img{
    position: relative;
    width: 40px;
    height: 40px;
    right: 5px;
}
.footer .foot-3 .fbutton2{
    position: relative;
    width: 45px;
    height: 45px;
    top: 200px;
    border: none;
    background: transparent;
    transition: transform .2s ease-in-out;
}
.footer .foot-3 .fbutton2:hover{
    transform: scale(1.2);
}

.footer .foot-3 .fbutton2 img{
    position: relative;
    width: 40px;
    height: 40px;
    right: 5px;
}
.footer .foot-3 .fbutton3{
    position: relative;
    width: 45px;
    height: 45px;
    top: 200px;
    border: none;
    background:transparent;
    transition: transform .2s ease-in-out;
}
.footer .foot-3 .fbutton3:hover{
    transform: scale(1.2);
}
.footer .foot-3 .fbutton3 img{
    position: relative;
    width: 40px;
    height: 40px;
    right: 5px;
}




